In [4]:
# Q.1 Write a Python Program to create a tuple with different data type.



tup= ("Bharat",10, 12.23,True)
print(tup)

('Bharat', 10, 12.23, True)

In [11]:
# Q.2 Write a Python Program to add an item in tuple.


tupo= ("Bharat",0,25.23,"Khatik")    # we have converted tuple in to list than used append method to add an item
fgj=list(tupo)
fgj.append("Jay")

print(tuple(fgj))

#or

jak=(1,2,3,4,5,6,7,8,9)           # We have taken new item and than make it tuple after placing coma sign in round bracket to make it tuple and than added both

item=10

add=jak+(item,)

print(add)

('Bharat', 0, 25.23, 'Khatik', 'Jay')
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [28]:
#  Q.3 Write a python program to convert a tuple in to string.


newtup=("My", "Name", "Is", "Bharat", "Khatik")    # we used join method to itterate elements of tuple and join with empty string to output as string

string=" ".join(newtup)

print(string)
type(string)

My Name Is Bharat Khatik

str

In [37]:
# Q.4 Write a Python Program to find the repeated items of tuple.
 
'''we have taken element named and itterate in tupp and given 
condition that if element in tupp is greater than one time of frequency
than give result in hjk but hjk gets duplicate elements hence we again
passed the set method in new variable s than printed it'''


tupp =(1,2,2,3,4,5,5,6)    
hjk= (element for element in tupp if tupp.count(element)>1)    

s=set(hjk)
print(s)

{2, 5}

In [39]:
# Q.5 Write a python program to find the length of tuple.


h=(1,2,2,2,3,4,5,6,7)

print("Length of Tuple is:",len(h))

Length of Tuple is: 9

In [43]:
# Q.6 Write a python program to convert a tuple to a dictionary.

gh=(("Name", "Bharat"), ("Surname", "Khatik"))

empty_dict=dict(gh)

print(empty_dict)

{'Name': 'Bharat', 'Surname': 'Khatik'}

In [ ]:
# Q.7 Write a Python Program to replace last value of tuples in a list.


alist=[(10,20,40), (40,50,60), (70,80,90)]

In [ ]:
# Q.8

In [ ]:
# Q. 9 Write a Python Program to sort a tuple by its float elements.


lis=[("item1", "12.20"),("item2", "15.10"),("item3", "24.50") ]

In [45]:
# Q.10 Write a Python Program to count the elements in a list until an element is tuple.



listh = [1, 2, 3, (4, 5), 6, 7]
count = 0
                                # taken default value 0 for given list
for element in listh:
    if isinstance(element, tuple):
        break
    count += 1             #here we itterate element in list and check condition that whenever element come tuple it break the loop and add count 


print("Count:", count)

Count: 3